*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.body{
    background-color: rgb(117, 142, 64);
    color: white;

}
 img{
    width: 200px;
}
.list{
    display: flex;
    flex-direction: row;
    top: 0%;
    left: 45%;
    position: fixed;
    width: 50%;
    list-style-type: lower-roman;
    justify-content: right;
    color: aliceblue;
}
.para{
    font-size: 20px;
    background-color: blueviolet;
    border-radius: 50px;
}
body {
    font-family: Arial, sans-serif;
}
.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}